* {
  box-sizing: border-box;
}

body {
  background: #090909;
  color: #efefef;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 240px;
  background: #1c1c1c;
  padding: 8px 12px;
  border-radius: 6px;
}

@media screen and (min-width: 991px) {
  p {
    position: absolute;
    top: 0.67em;
    right: 30px;
  }
}

a {
  color: #03a9f4;
  display: block;
  margin-top: 6px;
  text-decoration: none;
}

ol {
  display: flex;
  flex-wrap: wrap;
  counter-reset: count;
  list-style-type: none;
  padding: 0;
  max-width: 90%;
  margin: 0 auto;
  gap: 10px;
  justify-content: center;
}

li {
  flex-basis: 100%;
  counter-increment: count;
  background: #151515;
  padding: 16px;
  border-bottom: 2px solid #151515;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  li {
    flex-basis: 48%;
  }
}

@media screen and (min-width: 991px) {
  li {
    flex-basis: 30%;
  }
}

li span {
  max-width: 90%;
  display: block;
}

li:after {
  content: counter(count);
  position: absolute;
  right: 0;
  font-size: 5em;
  color: #353535;
  font-weight: bolder;
  pointer-events: none;
  bottom: 0;
  line-height: 1;
  height: 100%;
  z-index: -1;
}

small {
  padding: 2px 6px;
  border-radius: 3px;
  color: #fff;
}

.new {
  border-bottom: 2px solid #66bb6a;
}

.new small {
  background-color: #66bb6a;
}


.added {
  border-bottom: 2px solid #FFC107;
}

.added small {
  background-color: #FFC107;
}

#removed {
  margin-bottom: 60px;
}